<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	
  <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<servlet-class>com.appd.FileUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetErrorSummury</servlet-name>
  	<servlet-class>com.appd.GetErrorSummury</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadFile</servlet-name>
  	<servlet-class>com.appd.DownloadFile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetWarningSummury</display-name>
  	<servlet-name>GetWarningSummury</servlet-name>
  	<servlet-class>com.appd.GetWarningSummury</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetErrorSummury</servlet-name>
  	<url-pattern>/errorsummury</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadFile</servlet-name>
  	<url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetWarningSummury</servlet-name>
  	<url-pattern>/warningsummury</url-pattern>
  </servlet-mapping>
</web-app>
